// ------------------------------------------
// Metropolis Font Auto Loader (SCSS version)
// ------------------------------------------

$metropolis-path: "/fonts"; // path to your fonts

// Define font-weight map
$metropolis-weights: (
  100: "Thin",
  200: "ExtraLight",
  300: "Light",
  400: "Regular",
  500: "Medium",
  600: "SemiBold",
  700: "Bold",
  800: "ExtraBold",
  900: "Black",
);

// Generate all @font-face rules automatically
@each $weight, $name in $metropolis-weights {
  @font-face {
    font-family: "Metropolis";
    src: url("#{$metropolis-path}/Metropolis-#{$name}.woff2") format("woff2"),
      url("#{$metropolis-path}/Metropolis-#{$name}.woff") format("woff");
    font-weight: $weight;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Metropolis";
    src: url("#{$metropolis-path}/Metropolis-#{$name}Italic.woff2")
        format("woff2"),
      url("#{$metropolis-path}/Metropolis-#{$name}Italic.woff") format("woff");
    font-weight: $weight;
    font-style: italic;
    font-display: swap;
  }
}
